
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
  
  <title>Ruby on Rails, iOS, Android Consulting and Development</title>
  
  <meta name="description" content="We are a global, agile team of Ruby on Rails, iOS and Android. Visit here to see some recent, notable projects selected from a portfolio of over 150 web and mobile apps." />
  <meta name="keywords" content="Ruby on Rails experts, Ruby on Rails Consulting, RubyonRails Development, iOS Development, Android Development, rails experts, ruby experts, ror experts, rails team, rubyonrails team, iOS team, android experts, rubyonrails delhi, rubyonrails india, " />
  <link href="/assets/new_img/favicon-2275c2c5dd38cb7dbf37cf500c1b23d2.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <link href="/assets/main-9171b3cebc8a95dbadc97e764b3fd1f9.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="/assets/application-7251046122c4526da2fc2d1399bc32d0.js" type="text/javascript"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="uV4iuhFmoL90PA2IKTg+HFQmAObcsMCYVS4dSqubO88=" name="csrf-token" />
  <meta name="google-site-verification" content="CK8suh98n0vY6yQHUXaNNMzNMo3Ue1bmbI6g8RzkJjE" />
  <script type="text/javascript">
    if((navigator.userAgent.match(/firefox/i))) {
      $('form#new_contact #radio_select input#contact_idea_1').prop('checked', false);
    }
    if((navigator.userAgent.match(/msie/i))) {
      {document.write ('<link rel="stylesheet" type="text/css" href="/assets/iehacks.css" />');}
      $('form#new_contact #radio_select input#contact_idea_0, form#new_contact #radio_select input#contact_idea_1').prop('checked', false);
    }
    if (navigator.appVersion.indexOf("Win")!=-1){
      {document.write ('<style type="text/css">.touch a span.text,.twitter a span.text,.flicker a span.text,.slide .flex40 a{padding-top:0px;}.contact_form .modal-body{max-height:470px;}</style>');}
    }
  </script>
</head>
<body>
  <div id='mainBg'>
    <div id='wrapper' class='background'>
      <div class='container' id='head_size'>
        <div id="header" class='row'>
          <div class='logo span3'>
  <a href="/" class="home" title="Vinsol.com"></a>
</div>

<div class='navigation span5'>
  <ul class="nav nav-tabs">
    <li><a href="/success-stories" class=" " title="Success Stories">Success Stories</a></li>
    <li><a href="/team" class=" " title="Our Team">Our Team</a></li>
    <li><a href='/blog' title = 'Our Blog'>Our Blog</a></li>
    <li><a href="/contact" class=" last" title="Contact Us">Contact</a></li>
  </ul> 
</div>
        </div>
      </div>
      <div id="content" class=''>
                <div class="hc">
          <div>
  <h2>iOS Development & Consulting.</h2>
  <p>
    Ever since the introduction of Apple's App Store back in 2008 it has been burgeoning with <strong>iOS apps</strong>
    . Amidst this exponentially growing catalog of varied iOS apps one is on a lookout to hire iOS developers who provide dedicated, professional and specialized service and can make your app standout from the rest.
  </p>

  <p>
    This is precisely where we come into picture as we provide best of the breed <strong>iOS development & consultancy services</strong>
    . Backed with years of experience in iOS development, we offer iOS consultancy services that give your iOS app a distinctive & unique identity amongst a plethora of apps. 
 Our extensive experience with
    <strong>developing iPhone & iPad applications</strong>
    has made us well versed with the HCI guidelines laid down by Apple for iOS apps . 
 We ensure the apps built are in sync with these guidelines and readily comply with the App Store Review Guidelines. 
 We bring along proven experience and soup to nut solution in developing eminent iOS apps and providing
    <strong>top notch iOS consultancy services</strong>
    . Our strong and effective communication process enables us to create flawless apps with no aberrations. So if you have a unique idea or application, we have the capability to bring it to life on the iPhone & iPad.
  </p>
  <p>
    Our
    <strong>iOS development & consultancy services</strong>
    are perched on the following principles:
    <strong>Conceptualization</strong>
    - Our forte lies in sound interpretation and conceptualization of the idea which lays down the stepping stone for a successful venture.
    <strong>Innovation</strong>
    - An ordinary iOS app has a lackluster presence and, therefore, we bringforth innovative ideas to give your iOS app the required edge & distinctiveness. 
Viability - We conduct our own in-depth analysis and study the viability of the app in the Apple Store.
  </p>

  <p>
    Based on our findings we give recommendations, feedback & suggestions.
    <strong>iOS Development & Consultancy Solutions At Vinsol</strong>
    we offer a complete spectrum of iPhone & iPad Consultancy Services which include:
    <strong>iOS App Concept Creation</strong>
    ,
    <strong>iOS App Design Creation iOS App Development</strong>
    App Approval Process Guidance App Pricing & Launch Guidance Want us to be your
    <strong>iOS developers & consultants</strong>
    ? Getting in touch with us is easy. 
Simply fill out our short form for quick and prompt response.
    <a href = "http://vinsol.com/contact" title = 'contact us'>http://vinsol.com/contact</a>
  </p>
</div>
        </div>
        <div class="hc">
          <div>
  <h2>Ruby on Rails Development & Consulting</h2>
  <p>
    We are a <strong>passionate team of Ruby on Rails developers</strong>
    and over the years have gained the technical, strategic and creative expertise to ensure your <strong>Ruby on Rails web project</strong>
    is a success.
  </p>
  <p>
    We offer the full
    <strong>range of rubyonrails consultancy services</strong>
    to everybody from startups to enterprises. Our
    <strong>7 years of RoR development experience</strong>
    ,
    <strong>expert team of rails developers</strong>
    and our mature process can surely help you find superior solutions to your rails projects.
  </p>
  <p>
    Services we offer:
    <strong>Strategy, Planning and New development</strong>
    Do you have an idea for a web application or have
    <strong>rails project</strong>
    ? Our
    <strong>Ruby on Rails consulting team</strong>
    can help you to take that idea to next level. We can refine your concept, convert the idea to business requirements and engineer a successful product.
    <strong>Rails Frontend Engineering</strong>
    User experience is important for success of any web application.
  </p>
  <p>
    Our design labs team consists of creative as well as
    <strong>Javascript/DOM experts</strong>
    who offer better
    <strong>UI/UX and usability solutions</strong>
    . 
We help you create the best hosting architecture for your requirements.
  </p>
  <p>
    Engagement Models:
    <strong>Hourly Consultancy, Retainership packages, Partnership Program</strong> 
  </p>
  <p>
    Get in touch with us by dropping a mail at info@vinsol.com or simply fill out the form
    <a href = 'http://vinsol.com/contact' title='contact us'>http://vinsol.com/contact</a>
    .
  </p>
</div>
        </div>
        <div class="hc">
          
        </div>
        <div class="hc">
                    <div>
            <p>
              Located in the heart of New Delhi,
              <strong>VinSol is a Web and Mobile Development Company</strong>
              specializing in
              <a href="http://vinsol.com/success-stories/technology/Ruby-on-rails" title = 'ruby on rails development'>Ruby on Rails Development</a>
              ,
              <a href="http://vinsol.com/success-stories/technology/iOS" title = 'iOS(iPhone & iPad) Development'>iOS Development</a>
              and
              <a href="http://vinsol.com/success-stories/technology/Android" title = 'android development'>Android Development</a>
              .
              <p>
                Our client centric approach coupled with carefully conscripted workflow processes allows us to deliver the best results on time. And with a team of diligent and persevering developers and designers we surely work towards crafting solutions that work for you.
              </p>
              <p>
                We are always curious and we stay on top of trends and new technologies to help our clients reach future-facing solutions. Visit our
                <a href="http://vinsol.com/blog">Blog</a>
                to see our latest learning and experiences.
              </p>
            </p>
            <p>
              <h3>Our Three Tier Value System</h3>
              <p>
                Since our inception we are committed to delivering quality for every project that we undertake. We strive to maintain top-notch communication during the course of the project which helps us to meet deadlines and guarantees client satisfaction.
              </p>
              <p>
                We have optimized our ability to deliver projects our time by implementing agile methodology. This has allowed us to be more efficient by encouraging frequent inspection & adaptation.
              </p>
              <p>
                We see sustainability as one of the most important factors in contributing towards the success of our organization as well as instilling confidence amongst our partners that we can produce results time and again.
              </p>
            </p>
          </div>
        </div>
        <div class="hc">
          <div >

  <p>
    Located in the heart of New Delhi, <strong>VinSol is a Web and Mobile Development Company</strong>
    specializing in
    <a href="http://vinsol.com/success-stories/technology/Ruby-on-rails" title = 'ruby on rails development'>Ruby on Rails Development</a>
    ,
    <a href="http://vinsol.com/success-stories/technology/iOS" title = 'iOS(iPhone & iPad) Development'>iOS Development</a>
    and
    <a href="http://vinsol.com/success-stories/technology/Android" title = 'android development'>Android Development</a>
    .
    <div>
      Our client centric approach coupled with carefully conscripted workflow processes allows us to deliver the best results on time. And with a team of diligent and persevering developers and designers we surely work towards crafting solutions that work for you.
    </div>
    <div>
      We are always curious and we stay on top of trends and new technologies to help our clients reach future-facing solutions. Visit our <a href="http://vinsol.com/blog" title = 'vinsol blog'>Blog</a> to see our latest learning and experiences.
    </div>
  </p>
  <div>
    <h3>Our Three Tier Value System</h3>
    <p>
      Since our inception we are committed to delivering quality for every project that we undertake. We strive to maintain top-notch communication during the course of the project which helps us to meet deadlines and guarantees client satisfaction.
    </p>
    <p>
      We have optimized our ability to deliver projects our time by implementing agile methodology. This has allowed us to be more efficient by encouraging frequent inspection & adaptation.
    </p>
    <p>
      We see sustainability as one of the most important factors in contributing towards the success of our organization as well as instilling confidence amongst our partners that we can produce results time and again.
    </p>
  </div>
</div>
        </div>

<div class='left_overlay'></div>

<div id='slider_wrapper'>
  <ul>
      <li class='slide container main' id="slide1" rel="0">
        <div class='pull-left flex53'>
          <img alt="Opentable-ios-android-ror-web-mobile-application" src="/system/custom_sliders/images/000/000/001/medium/OpenTable-iOS-Android-RoR-web-mobile-application.png?1370944893" />
        </div>
        <div class='pull-right flex40'>
          <h1>Start-to-finish success.</h1>
          <p><p>More than just builders, we guide the tech strategy of your project. Our cross-platform approach shortened time-to-market for OpenTable's iPad, iPhone, Android, and Windows Phone apps.</p></p>
          <a href="/success-stories/opentable" class="learn_more abc">LEARN MORE</a>
          
        </div>
      </li>
      <li class='slide container main' id="slide3" rel="2">
        <div class='pull-left flex53'>
          <img alt="Dealdey-rubyonrails-web-application" src="/system/custom_sliders/images/000/000/003/medium/DealDey-RubyOnRails-Web-Application.png?1370945018" />
        </div>
        <div class='pull-right flex40'>
          <h1>Your ideas, our expertise.</h1>
          <p><p>For an entrepreneur set on bringing American-style e-commerce to Nigeria, we turned his vision into DealDey.com, a leading group-buying site.</p></p>
          <a href="/success-stories/dealdey" class="learn_more abc">LEARN MORE</a>
          
        </div>
      </li>
      <li class='slide container main' id="slide4" rel="3">
        <div class='pull-left flex53'>
          <img alt="Disney-holiday-magic-ios-application-powered-by-ruby-on-rails" src="/system/custom_sliders/images/000/000/004/medium/Disney-Holiday-Magic-iOS-application-powered-by-ruby-on-rails.png?1370945244" />
        </div>
        <div class='pull-right flex40'>
          <h1>Specialists in versatility.</h1>
          <p><p>Most of our mobile engineers are cross-trained in Rails and mobile platforms. With Disney's Holiday Magic app, we leveraged our multi-disciplinary skills to deliver a great experience.</p></p>
          <a href="/success-stories/disney-holiday-magic" class="learn_more abc">LEARN MORE</a>
          
        </div>
      </li>
      <li class='slide container main' id="slide5" rel="4">
        <div class='pull-left flex53'>
          <img alt="Other-ios-android-ruby-on-rails-applications" src="/system/custom_sliders/images/000/000/005/medium/Other-iOS-Android-Ruby-On-Rails-applications.png?1370945454" />
        </div>
        <div class='pull-right flex40'>
          <h1>Innovating around the clock.</h1>
          <p><p>With our many U.S.-based clients and San Francisco/New York City creative partner, Sequence, we are an efficient, responsive global development team.</p></p>
          <a href="/contact" class="learn_more abc">Let&#x27;s talk!</a>
          
        </div>
      </li>
      <li class='slide container main' id="slide6" rel="5">
        <div class='pull-left flex53'>
          <img alt="Vinsol-blog" src="/system/custom_sliders/images/000/000/006/medium/Vinsol-Blog.png?1370945533" />
        </div>
        <div class='pull-right flex40'>
          <h1>Always discovering and learning.</h1>
          <p><p>Naturally curious, we stay on top of trends and new technologies to help our clients reach future-facing solutions.</p></p>
          <a href="/blog" class="learn_more abc">VISIT OUR BLOG</a>
          
        </div>
      </li>
  </ul>
</div>
<div class='right_overlay'></div>


      </div>
    </div>
    <div class='footer'>
      <div class='container'>
        <div class='flicker span4'>
  <h6>Flickr</h6>
  <div class='flick_content'>
      <div class='img_block rotate0'>
        <img alt="8249505312_7e65418560_m" class="shadow" id="flick_0" src="http://farm9.static.flickr.com/8069/8249505312_7e65418560_m.jpg" />
      </div>
      <div class='img_block rotate0'>
        <img alt="8248457415_485933821e_m" class="shadow" id="flick_1" src="http://farm9.static.flickr.com/8060/8248457415_485933821e_m.jpg" />
      </div>
      <div class='img_block rotate5'>
        <img alt="8249492174_0542d54b13_m" class="shadow" id="flick_2" src="http://farm9.static.flickr.com/8069/8249492174_0542d54b13_m.jpg" />
      </div>
      <div class='img_block rotate10'>
        <img alt="8249523786_2dd01f6d70_m" class="shadow" id="flick_3" src="http://farm9.static.flickr.com/8200/8249523786_2dd01f6d70_m.jpg" />
      </div>
      <div class='img_block rotate10'>
        <img alt="8248426001_d75ca349ec_m" class="shadow" id="flick_4" src="http://farm9.static.flickr.com/8486/8248426001_d75ca349ec_m.jpg" />
      </div>
      <div class='img_block rotate0'>
        <img alt="8283015053_10d8b35d20_m" class="shadow" id="flick_5" src="http://farm9.static.flickr.com/8217/8283015053_10d8b35d20_m.jpg" />
      </div>
      <div class='img_block rotate10'>
        <img alt="8284074828_4b8fba9e80_m" class="shadow" id="flick_6" src="http://farm9.static.flickr.com/8070/8284074828_4b8fba9e80_m.jpg" />
      </div>
  </div>
  <div class='see_more_link'>
    <a href='http://www.flickr.com/photos/vinsol/' class='more' target='_blank'><span class="text">SEE MORE</span></a>
  </div>
</div>


<!-- <a class="twitter-timeline" href="https://twitter.com/search?q=from%3Athe_vinsol+OR+%40the_vinsol+OR+%23the_vinsol" data-widget-id="355320698471845889">Tweets about "from:the_vinsol OR @the_vinsol OR #the_vinsol"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 -->

<div class='twitter span4'>
  <h6>Twitter</h6>
  <div class="anythingSlider">
    <div class="slider">
      <ul>
          <li>
            <!-- <p><span style="font-weight: bold;"></span></p> -->
            <p class="text">kudos to<a href="https://twitter.com/the_vinsol" target="_blank"> @the_vinsol</a>, You guys are under Top 10 Ruby on Rails Development Companies <a href="http://t.co/ywdWltjdzV" target="_blank">http://t.co/ywdWltjdzV</a> ,<a href="https://twitter.com/mjuneja" target="_blank"> @mjuneja</a></p>
            <span class="links">12 days ago  <a class="twtr-reply" href="https://twitter.com/intent/tweet?in_reply_to=418691501678272512" target="_blank">Reply</a>  <a class="twtr-rt" href="http://twitter.com/?status=RT: kudos to @the_vinsol, You guys are under Top 10 Ruby on Rails Development Companies http://t.co/ywdWltjdzV , @mjuneja" target="_blank">Retweet</a> <a class="twtr-fav" href="https://twitter.com/intent/favorite?tweet_id=418691501678272512" target="_blank">Favorite</a></span>
          </li>
          <li>
            <!-- <p><span style="font-weight: bold;"></span></p> -->
            <p class="text">Exciting news!<a href="https://twitter.com/the_vinsol" target="_blank"> @the_vinsol</a> achieves  certified developer and premier partner status of<a href="https://twitter.com/spreecommerce" target="_blank"> @spreecommerce</a> <a href="http://t.co/M2r32lFM6t" target="_blank">http://t.co/M2r32lFM6t</a></p>
            <span class="links">25 days ago  <a class="twtr-reply" href="https://twitter.com/intent/tweet?in_reply_to=413924550309470208" target="_blank">Reply</a>  <a class="twtr-rt" href="http://twitter.com/?status=RT: Exciting news! @the_vinsol achieves  certified developer and premier partner status of @spreecommerce http://t.co/M2r32lFM6t" target="_blank">Retweet</a> <a class="twtr-fav" href="https://twitter.com/intent/favorite?tweet_id=413924550309470208" target="_blank">Favorite</a></span>
          </li>
          <li>
            <!-- <p><span style="font-weight: bold;"></span></p> -->
            <p class="text"><a href="https://twitter.com/@ganeshgembali" target="_blank">@ganeshgembali</a><a href="https://twitter.com/sumankpaul" target="_blank"> @sumankpaul</a><a href="https://twitter.com/the_vinsol" target="_blank"> @the_vinsol</a> - awesome.. !!</p>
            <span class="links">about 1 month ago  <a class="twtr-reply" href="https://twitter.com/intent/tweet?in_reply_to=406658289233965057" target="_blank">Reply</a>  <a class="twtr-rt" href="http://twitter.com/?status=RT: @ganeshgembali @sumankpaul @the_vinsol - awesome.. !!" target="_blank">Retweet</a> <a class="twtr-fav" href="https://twitter.com/intent/favorite?tweet_id=406658289233965057" target="_blank">Favorite</a></span>
          </li>
          <li>
            <!-- <p><span style="font-weight: bold;"></span></p> -->
            <p class="text">The next<a href="https://twitter.com/js_channel" target="_blank"> @js_channel</a> meet up at our office tomorrow. Join to learn Angular JS <a href="http://t.co/3AJMT2MAvo" target="_blank">http://t.co/3AJMT2MAvo</a></p>
            <span class="links">about 1 month ago  <a class="twtr-reply" href="https://twitter.com/intent/tweet?in_reply_to=406417060776787970" target="_blank">Reply</a>  <a class="twtr-rt" href="http://twitter.com/?status=RT: The next @js_channel meet up at our office tomorrow. Join to learn Angular JS http://t.co/3AJMT2MAvo" target="_blank">Retweet</a> <a class="twtr-fav" href="https://twitter.com/intent/favorite?tweet_id=406417060776787970" target="_blank">Favorite</a></span>
          </li>
          <li>
            <!-- <p><span style="font-weight: bold;"></span></p> -->
            <p class="text">FireBug like tool for your iOS apps - <a href="http://t.co/A0JobWVdyE" target="_blank">http://t.co/A0JobWVdyE</a></p>
            <span class="links">6 months ago  <a class="twtr-reply" href="https://twitter.com/intent/tweet?in_reply_to=357505524100644864" target="_blank">Reply</a>  <a class="twtr-rt" href="http://twitter.com/?status=RT: FireBug like tool for your iOS apps - http://t.co/A0JobWVdyE" target="_blank">Retweet</a> <a class="twtr-fav" href="https://twitter.com/intent/favorite?tweet_id=357505524100644864" target="_blank">Favorite</a></span>
          </li>
          <li>
            <!-- <p><span style="font-weight: bold;"></span></p> -->
            <p class="text">RT<a href="https://twitter.com/smashingmag" target="_blank"> @smashingmag</a>: Oh... Android saves wifi passwords in plaintext to the cloud: <a href="https://t.co/rHCbuxY6Ms" target="_blank">https://t.co/rHCbuxY6Ms</a></p>
            <span class="links">6 months ago  <a class="twtr-reply" href="https://twitter.com/intent/tweet?in_reply_to=357482276088578048" target="_blank">Reply</a>  <a class="twtr-rt" href="http://twitter.com/?status=RT: RT @smashingmag: Oh... Android saves wifi passwords in plaintext to the cloud: https://t.co/rHCbuxY6Ms" target="_blank">Retweet</a> <a class="twtr-fav" href="https://twitter.com/intent/favorite?tweet_id=357482276088578048" target="_blank">Favorite</a></span>
          </li>
          <li>
            <!-- <p><span style="font-weight: bold;"></span></p> -->
            <p class="text">Driverless cars to be tested on UK roads by end 2013 <a href="http://t.co/rJmVOLBrBL" target="_blank">http://t.co/rJmVOLBrBL</a></p>
            <span class="links">6 months ago  <a class="twtr-reply" href="https://twitter.com/intent/tweet?in_reply_to=357478553836716033" target="_blank">Reply</a>  <a class="twtr-rt" href="http://twitter.com/?status=RT: Driverless cars to be tested on UK roads by end 2013 http://t.co/rJmVOLBrBL" target="_blank">Retweet</a> <a class="twtr-fav" href="https://twitter.com/intent/favorite?tweet_id=357478553836716033" target="_blank">Favorite</a></span>
          </li>
      </ul>        
    </div>
  </div>

  <style type='text/css'>
    div.anythingSlider { height: 226px !important; overflow: hidden;}
    div.twitter div p a:hover{text-decoration:none !important;color:#cd3c21 !important;}
    div.twitter div a{text-decoration:none !important;color:#f78806 !important;}
    div.twitter a.twtr-timestamp, .twtr-reply, .twtr-rt, .twtr-fav, span.links{line-height:20px !important;color:#231f20 !important;font-size:8px !important;text-transform:uppercase;letter-spacing:1px;font-family: 'DinBold',Arial,sans-serif !important;}
    div.twitter div p a{font-family: 'DinReg',Arial,sans-serif !important;}
    #twtr-widget-1 .twtr-tweet a.twtr-timestamp{color:#231f20 !important;}
    div.twitter div p em a:hover{text-decoration:none !important;color:#cd3c21 !important;}
    #twtr-widget-1 .twtr-tweet .twtr-tweet-text p em a.twtr-timestamp:hover{color:#231f20 !important;}
    .twtr-ft{display:none;}
    .twtr-doc .twtr-hd{padding-bottom:0px !important;padding-top:5px !important;}
    div.twitter div p{font-size:14px !important;line-height:20px !important;font-family: 'DinLight',Arial,sans-serif !important;}
    div.twitter div ul li p{line-height:20px !important;padding-bottom:0px;/*margin-bottom:15px;*/border-bottom:none;padding-top:20px}
    div.twitter div ul li:after {padding-top:10px;content: url(/assets/new_img/tweet_bottom.png);}
    div.twitter div ul li:nth-child(2):after{content:none;}
    .twtr-avatar {display: none !important;}
    .twitter div p {margin-left:0px !important;}
    .twtr-widget .twtr-tweet-wrap {padding:0px !important;}
    .twtr-timeline{height: 205px !important;}

    @media (min-width: 380px) and (max-width: 979px){
      #twtr-widget-1 .twtr-doc{width:200px !important;}
      /*.twtr-timeline .twtr-tweets div.twtr-tweet:after {padding-top:10px;content: url(/assets/new_img/tweet_bottom_ipv.png);}*/
      div.twitter div ul li{line-height:20px !important;padding-bottom:17px;/*margin-bottom:15px;*/border-bottom:none;padding-top:6px;}
      .twtr-timeline{height: 210px !important;}
    }
    .footer .twitter h6 { margin-bottom:1px!important; }
  </style>

  <div class='see_more_link'>
    <a href="http://www.twitter.com/the_vinsol" class="more" target="_blank"><span class="text">FOLLOW US</span></a>
  </div>  
  
</div>

  <div class='touch span4'>
    <div class='inner'>
      <div class='title'>Get in Touch!</div>
      <div class='data'>
        <!-- Button to trigger modal -->
        <a href="#myModal" class="schedule" data-toggle="modal" title = "Click here to schedule a talk with us" ></a>
        
        <div>India / <strong>+91-11-45137031</strong></div>
        <div>USA / <strong>+1-415-839-0057</strong></div>
        <div id='info'><a href="mailto:info%40vinsol%2ecom?subject=Hey, Vinsol" class="mailto" target="_blank">info@vinsol.com</a></div>
      </div>
      <div class='social'>
        <a href="https://www.facebook.com/thevinsol" class="facebook" target="blank"></a>
        <a href="https://twitter.com/the_vinsol" class="twitter" target="blank"></a>
        <a href="http://feeds2.feedburner.com/Vinsol" class="rss" target="blank"></a>
      </div>
    </div>
  </div>




<script>
  setInterval(function() {
    var items = $('.flick_content .img_block');
    var zEle = items[Math.floor(Math.random()*items.length)];
    var maxIndex = getMax();
    var zIndex = maxIndex + 1;
    $(zEle).css('z-index', zIndex);
  },5000);

    setInterval(function() {
        loop_twitter_text();
    },20000);


  function loop_twitter_text(){
    $first_li = $('div.slider ul li:first');
    $clone = $first_li.clone();
    $clone.appendTo($('div.slider ul'));
    $first_li.remove();
    $('div.twitter div ul li').siblings().hide();
    $('div.twitter div ul li:nth-child(2), li:nth-child(1)').show();
  }
  
  function getMax(){
    var greatest = 0;
    $('.flick_content .img_block').each(function() {
      var thisIndex = parseInt($(this).css('z-index'));
      if(thisIndex > greatest) {
        greatest = thisIndex;
      }
    });
    return greatest
  }
  
</script>

      </div>
    </div>
  </div>
  

  <!-- Modal -->
  <div id="myModal" class="modal hide fade contact_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="/assets/new_img/close.png" alt='Close'></button>
    </div>
    <div class="modal-body" id="modals">
      <h3 class='contact talk'>Let's Talk</h3>
      <div class="modals">
<form accept-charset="UTF-8" action="/contacts" class="new_contact" data-remote="true" enctype="multipart/form-data" id="new_contact" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="uV4iuhFmoL90PA2IKTg+HFQmAObcsMCYVS4dSqubO88=" /></div>
  <div class='pull-left'>
    <div class='formFields name formSet'>
      <label>Your Name</label>
      <input id="contact_name" name="contact[name]" size="30" type="text" />
      <span id="name_errors" class="inline-error"></span>
    </div>
    <div class='formFields email formSet'>
      <label>Email</label>
      <input id="contact_email" name="contact[email]" size="30" type="text" />
      <span id="email_errors" class="inline-error"></span>
    </div>
    <div class='formFields formSet'>
      <label>Phone Number</label>
      <input id="contact_phone_no" name="contact[phone_no]" size="30" type="text" />
      <span id="phone_errors" class="inline-error"></span>
    </div>
    <div class='formFields formSet'>
      <label>Skype ID</label>
      <input id="contact_skype_id" name="contact[skype_id]" size="30" type="text" />
      <span id="skype_errors" class="inline-error"></span>

    </div>        
  </div>
  <div class='pull-left project_consult'>
    <div class= 'formfields pull-left' id='radio_select'>
      <span id="request_enquiry_errors" class="inline-error"></span>
      <div>
        <div class='consultDiv'></div>
        <input class="select_radio" id="contact_request_enquiry_consult" name="contact[request_enquiry]" type="radio" value="consult" />
        <label class="pull-left select_label" for="contact_request_enquiry_consult" id="consult">WANT TO CONSULT?<br><span class="light">Get a little advice.</span></label>
      </div>
      <div>
        <div class='projectDiv'></div>
        <input class="select_radio" id="contact_request_enquiry_project" name="contact[request_enquiry]" type="radio" value="project" />
        <label class="pull-left select_label" for="contact_request_enquiry_project" id="project">HAVE A PROJECT?<br><span class="light">Get a quote.</span></label>
      </div>
    </div>
    <div class= 'formfields pull-left'>
      <div class= 'project'>
        <select id="contact_budget" name="contact[budget]"><option value="">Price Range</option>
<option value="USD 5000-10000">USD 5000-10000</option>
<option value="USD 10000-20000">USD 10000-20000</option>
<option value="USD 20001-50000">USD 20001-50000</option>
<option value="USD 50000-100000">USD 50000-100000</option>
<option value="USD 100000 or more">USD 100000 or more</option></select>
      </div>
      <span id="budget_errors" class="inline-error"></span>        

    </div>
    <div class= 'formfields pull-left'>
      <div class= 'common'>
        <textarea cols="40" id="contact_comment" name="contact[comment]" placeholder="Give us a little background" rows="4">
</textarea>
      <span id="comment_errors" class="inline-error"></span>
        <input id="contact_file" name="contact[file]" type="file" />
      </div>
    </div> 
  </div>
  <div class='pull-left'>
    <div class='formFields submitBtn'>
      <input class="formSubmit" name="commit" type="submit" value="NEXT" />
    </div>
  </div>
</form></div>
<script src="/assets/main_custom-96358bc773ff898b5cc9ed949409ebf0.js" type="text/javascript"></script>

    </div>
  </div>
  <script type="text/javascript">
   var assets_host_string = '';

  // Fix iPad viewport scaling bug on orientation change
  (function(doc) {

    var addEvent = 'addEventListener',
        type = 'gesturestart',
        qsa = 'querySelectorAll',
        scales = [1, 1],
        meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : [];

    function fix() {
      meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1];
      doc.removeEventListener(type, fix, true);
    }

    if ((meta = meta[meta.length - 1]) && addEvent in doc) {
      fix();
      scales = [.25, 1.6];
      doc[addEvent](type, fix, true);
    }
  }(document));


  </script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2085242-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <script type="text/javascript">
//<![CDATA[
    $(document).ready(function(){
      initialize();
        $('.flick_content .img_block').each(function(index){
    var order = (($('.flick_content .img_block').length-1) - index);
    var rotationDeg = order*5
    
    
    if(rotationDeg == 0){
      $(this).css('z-index', 1);
    }else{
      $(this).css('z-index', 0);
    }
  });

  $('a.schedule').click(function(){
    $('div.modals').html('<div class=\"modals\">\n<form accept-charset=\"UTF-8\" action=\"/contacts\" class=\"new_contact\" data-remote=\"true\" enctype=\"multipart/form-data\" id=\"new_contact\" method=\"post\"><div style=\"margin:0;padding:0;display:inline\"><input name=\"utf8\" type=\"hidden\" value=\"&#x2713;\" /><input name=\"authenticity_token\" type=\"hidden\" value=\"uV4iuhFmoL90PA2IKTg+HFQmAObcsMCYVS4dSqubO88=\" /><\/div>\n  <div class=\'pull-left\'>\n    <div class=\'formFields name formSet\'>\n      <label>Your Name<\/label>\n      <input id=\"contact_name\" name=\"contact[name]\" size=\"30\" type=\"text\" />\n      <span id=\"name_errors\" class=\"inline-error\"><\/span>\n    <\/div>\n    <div class=\'formFields email formSet\'>\n      <label>Email<\/label>\n      <input id=\"contact_email\" name=\"contact[email]\" size=\"30\" type=\"text\" />\n      <span id=\"email_errors\" class=\"inline-error\"><\/span>\n    <\/div>\n    <div class=\'formFields formSet\'>\n      <label>Phone Number<\/label>\n      <input id=\"contact_phone_no\" name=\"contact[phone_no]\" size=\"30\" type=\"text\" />\n      <span id=\"phone_errors\" class=\"inline-error\"><\/span>\n    <\/div>\n    <div class=\'formFields formSet\'>\n      <label>Skype ID<\/label>\n      <input id=\"contact_skype_id\" name=\"contact[skype_id]\" size=\"30\" type=\"text\" />\n      <span id=\"skype_errors\" class=\"inline-error\"><\/span>\n\n    <\/div>        \n  <\/div>\n  <div class=\'pull-left project_consult\'>\n    <div class= \'formfields pull-left\' id=\'radio_select\'>\n      <span id=\"request_enquiry_errors\" class=\"inline-error\"><\/span>\n      <div>\n        <div class=\'consultDiv\'><\/div>\n        <input class=\"select_radio\" id=\"contact_request_enquiry_consult\" name=\"contact[request_enquiry]\" type=\"radio\" value=\"consult\" />\n        <label class=\"pull-left select_label\" for=\"contact_request_enquiry_consult\" id=\"consult\">WANT TO CONSULT?<br><span class=\"light\">Get a little advice.<\/span><\/label>\n      <\/div>\n      <div>\n        <div class=\'projectDiv\'><\/div>\n        <input class=\"select_radio\" id=\"contact_request_enquiry_project\" name=\"contact[request_enquiry]\" type=\"radio\" value=\"project\" />\n        <label class=\"pull-left select_label\" for=\"contact_request_enquiry_project\" id=\"project\">HAVE A PROJECT?<br><span class=\"light\">Get a quote.<\/span><\/label>\n      <\/div>\n    <\/div>\n    <div class= \'formfields pull-left\'>\n      <div class= \'project\'>\n        <select id=\"contact_budget\" name=\"contact[budget]\"><option value=\"\">Price Range<\/option>\n<option value=\"USD 5000-10000\">USD 5000-10000<\/option>\n<option value=\"USD 10000-20000\">USD 10000-20000<\/option>\n<option value=\"USD 20001-50000\">USD 20001-50000<\/option>\n<option value=\"USD 50000-100000\">USD 50000-100000<\/option>\n<option value=\"USD 100000 or more\">USD 100000 or more<\/option><\/select>\n      <\/div>\n      <span id=\"budget_errors\" class=\"inline-error\"><\/span>        \n\n    <\/div>\n    <div class= \'formfields pull-left\'>\n      <div class= \'common\'>\n        <textarea cols=\"40\" id=\"contact_comment\" name=\"contact[comment]\" placeholder=\"Give us a little background\" rows=\"4\">\n<\/textarea>\n      <span id=\"comment_errors\" class=\"inline-error\"><\/span>\n        <input id=\"contact_file\" name=\"contact[file]\" type=\"file\" />\n      <\/div>\n    <\/div> \n  <\/div>\n  <div class=\'pull-left\'>\n    <div class=\'formFields submitBtn\'>\n      <input class=\"formSubmit\" name=\"commit\" type=\"submit\" value=\"NEXT\" />\n    <\/div>\n  <\/div>\n<\/form><\/div>\n<script src=\"/assets/main_custom-96358bc773ff898b5cc9ed949409ebf0.js\" type=\"text/javascript\"><\/script>\n');
    $('h3.contact').show()
  })

  $('div.twitter div ul li').siblings().hide();
  $('div.twitter div ul li:nth-child(2), li:nth-child(1)').show();

    });

//]]>
</script>  <script src="/assets/jquery.infinitecarousel-029cd07d8cd334bec3acef78c2accda9.js" type="text/javascript"></script>
<script src="/assets/jquery.infinitecarousel_raw-17cf8290dbe350d7421df2695d16e0af.js" type="text/javascript"></script>
</body>
</html>
