<div class="nopagecontainer">
  <h1 class="hey">The page you were looking for doesn't exist.</h1>
  <h2>You may have mistyped the address or the page may have moved.</h2>
  <div class="img_area"><img src='/assets/404.jpg' />
    this is to test one more div
    <div class="next"><img src='/assets/404.jpg' />
      Nested DIV
    </div>
  </div>
</div>