<head>
    <script src="http://dnn506yrbagrg.cloudfront.net/pages/scripts/0018/8257.js?386174" async="" type="text/javascript"></script><script type="text/javascript" async="" src="https://d31qbv1cthcecs.cloudfront.net/atrk.js"></script><script type="text/javascript" async="" src="http://cdn.livechatinc.com/tracking.js"></script><script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
    <meta name="viewport" content="maximum-scale=0.73, minimum-scale=0.25">
    <meta content="nigerian fashion, lagos nigeria, box office deals, body wraps, Birthday cake, pest control services, online travel and hotel booking Nigeria, laptop accessories, mobile phone prices, kitchen accessories. " name="keywords">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href="http://assets3.dealdey.com/assets/favicon-76569e177c1f6b63a07e80e5feca8b83.jpg" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <title>DealDey - Sign In</title>
    <meta content="DealDey is the most popular online shopping site in Nigeria. It ranks in the top 5 online stores in Nigeria and you can buy quality products at good deals" name="description">
        <script type="text/javascript">
//<![CDATA[
 var _sf_startpt=(new Date()).getTime(); 
//]]>
</script>
    <meta content="authenticity_token" name="csrf-param">
<meta content="A5Qh5L5MbNDtzCSmSjI/q63fxJxP4diLVS5P8u9xDS8=" name="csrf-token">
    
       <script type="text/javascript">
         var is_mobile_device = false;
         var is_blackberry_device = false;
         var GOOGLE_MAP = {"lagos":{"lat":6.441655,"lng":3.419876},"abuja":{"lat":9.069339,"lng":7.480853},"ikeja":{"lat":6.574872,"lng":3.345062}};
       </script>

    <link href="http://assets2.dealdey.com/assets/all-04b88e73e7ef495a215e6a85b5fcba40.css" media="screen" rel="stylesheet" type="text/css">
    
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="/assets/ie.css" />
    <![endif]-->


  <script async="true" type="text/javascript" src="http://a.adroll.com/j/roundtrip.js"></script><style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}
.fb_invisible{display:none}
.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}
.fb_reset > div{overflow:hidden}
.fb_link img{border:none}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}
.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}
.fb_dialog_content{background:#fff;color:#333}
.fb_dialog_close_icon{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px;top:8px\9;right:7px\9}
.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}
.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}
.fb_dialog_close_icon:hover{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}
.fb_dialog_close_icon:active{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}
.fb_dialog_loader{background-color:#f2f2f2;border:1px solid #606060;font-size:24px;padding:20px}
.fb_dialog_top_left,
.fb_dialog_top_right,
.fb_dialog_bottom_left,
.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}
.fb_dialog_top_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}
.fb_dialog_top_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}
.fb_dialog_bottom_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}
.fb_dialog_bottom_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}
.fb_dialog_vert_left,
.fb_dialog_vert_right,
.fb_dialog_horiz_top,
.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}
.fb_dialog_vert_left,
.fb_dialog_vert_right{width:10px;height:100%}
.fb_dialog_vert_left{margin-left:-10px}
.fb_dialog_vert_right{right:0;margin-right:-10px}
.fb_dialog_horiz_top,
.fb_dialog_horiz_bottom{width:100%;height:10px}
.fb_dialog_horiz_top{margin-top:-10px}
.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}
.fb_dialog_iframe{line-height:0}
.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #3b5998;color:#fff;font-size:14px;font-weight:bold;margin:0}
.fb_dialog_content .dialog_title > span{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif)
no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}
body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}
.fb_dialog.fb_dialog_mobile.loading{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif)
white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}
.fb_dialog.fb_dialog_mobile.loading.centered{max-height:590px;min-height:590px;max-width:500px;min-width:500px}
#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}
#fb-root #fb_dialog_ipad_overlay.hidden{display:none}
.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}
.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}
.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%
}
.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px
}
.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px
}
.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6),
color-stop(0.5, #355492), to(#2A4887));border:1px solid #29447e;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset,
rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}
.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}
.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}
.fb_dialog_content .dialog_content{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}
.fb_dialog_content .dialog_footer{background:#f2f2f2;border:1px solid #555;border-top-color:#ccc;height:40px}
#fb_dialog_loader_close{float:left}
.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}
.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}
.fb_iframe_widget{display:inline-block;position:relative}
.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}
.fb_iframe_widget iframe{position:absolute}
.fb_iframe_widget_lift{z-index:1}
.fb_hide_iframes iframe{position:relative;left:-10000px}
.fb_iframe_widget_loader{position:relative;display:inline-block}
.fb_iframe_widget_fluid{display:inline}
.fb_iframe_widget_fluid span{width:100%}
.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}
.fb_iframe_widget_loader .FB_Loader{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
.fb_connect_bar_container div,
.fb_connect_bar_container span,
.fb_connect_bar_container a,
.fb_connect_bar_container img,
.fb_connect_bar_container strong{background:none;border-spacing:0;border:0;direction:ltr;font-style:normal;font-variant:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal;vertical-align:baseline}
.fb_connect_bar_container{position:fixed;left:0 !important;right:0 !important;height:42px !important;padding:0 25px !important;margin:0 !important;vertical-align:middle !important;border-bottom:1px solid #333 !important;background:#3b5998 !important;z-index:99999999 !important;overflow:hidden !important}
.fb_connect_bar_container_ie6{position:absolute;top:expression(document.compatMode=="CSS1Compat"? document.documentElement.scrollTop+"px":body.scrollTop+"px")}
.fb_connect_bar{position:relative;margin:auto;height:100%;width:100%;padding:6px 0 0 0 !important;background:none;color:#fff !important;font-family:"lucida grande", tahoma, verdana, arial, sans-serif !important;font-size:13px !important;font-style:normal !important;font-variant:normal !important;font-weight:normal !important;letter-spacing:normal !important;line-height:1 !important;text-decoration:none !important;text-indent:0 !important;text-shadow:none !important;text-transform:none !important;white-space:normal !important;word-spacing:normal !important}
.fb_connect_bar a:hover{color:#fff}
.fb_connect_bar .fb_profile img{height:30px;width:30px;vertical-align:middle;margin:0 6px 5px 0}
.fb_connect_bar div a,
.fb_connect_bar span,
.fb_connect_bar span a{color:#bac6da;font-size:11px;text-decoration:none}
.fb_connect_bar .fb_buttons{float:right;margin-top:7px}
.fb_edge_widget_with_comment{position:relative;*z-index:1000}
.fb_edge_widget_with_comment span.fb_edge_comment_widget{position:absolute}
.fb_edge_widget_with_comment span.fb_send_button_form_widget{z-index:1}
.fb_edge_widget_with_comment span.fb_send_button_form_widget .FB_Loader{left:0;top:1px;margin-top:6px;margin-left:0;background-position:50% 50%;background-color:#fff;height:150px;width:394px;border:1px #666 solid;border-bottom:2px solid #283e6c;z-index:1}
.fb_edge_widget_with_comment span.fb_send_button_form_widget.dark .FB_Loader{background-color:#000;border-bottom:2px solid #ccc}
.fb_edge_widget_with_comment span.fb_send_button_form_widget.siderender
.FB_Loader{margin-top:0}
.fbpluginrecommendationsbarleft,
.fbpluginrecommendationsbarright{position:fixed !important;bottom:0;z-index:999}
.fbpluginrecommendationsbarleft{left:10px}
.fbpluginrecommendationsbarright{right:10px}</style><script async="true" type="text/javascript" src="//d.adroll.com/pixel/L6HHXYQDBNGY3GPGSSUYHV/V24ERIIASVGTLONMI37GFV?pv=21393552818.335594&amp;cookie=QB242XCR35BIPC5JW7AMSK%3A7%7CR3P67QTAHBC5VBTUM5YDTH%3A7%7CL6HHXYQDBNGY3GPGSSUYHV%3A79%7CV24ERIIASVGTLONMI37GFV%3A79%7CRUNJ2X3AXZFNPMUCANWOFB%3A55%7CAAV7QHP4JJASZBPI6HGCM2%3A2&amp;keyw="></script><div style="width: 1px; height: 1px; display: inline;"><img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/f/out">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/w/out">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/x/out">
<img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1427701354108432&amp;cd[segment_eid]=RUNJ2X3AXZFNPMUCANWOFB"><img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/933633792/?label=ki0BCOCb9woQgL6YvQM&amp;guid=ON&amp;script=0&amp;ord=8104027111548930">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/g/out?google_nid=adroll4">
<img src="http://ib.adnxs.com/seg?add=1029307&amp;t=2" width="1" height="1">
</div></head>
<body class="">
    <div class="header-top-holder">
  <div class="header-top hide-header-top">
    <ul class="city_options">
      <li class="full">Select State</li>
        <li><a class="" data-city-id="9" href="#" onclick="setCurrentState(this); return false;">Abuja</a></li>
        <li><a class="active" data-city-id="8" href="#" onclick="setCurrentState(this); return false;">Lagos</a></li>
        <li><a class="" data-city-id="10" href="#" onclick="setCurrentState(this); return false;">Rivers</a></li>
      <li class="areas">
          <a class="" data-city-id="13" href="#" onclick="setCurrentState(this); return false;">Abia</a>
          <a class="" data-city-id="14" href="#" onclick="setCurrentState(this); return false;">Adamawa</a>
          <a class="" data-city-id="15" href="#" onclick="setCurrentState(this); return false;">Akwa Ibom</a>
          <a class="" data-city-id="52" href="#" onclick="setCurrentState(this); return false;">Anambra</a>
          <a class="" data-city-id="17" href="#" onclick="setCurrentState(this); return false;">Bauchi</a>
          <a class="" data-city-id="18" href="#" onclick="setCurrentState(this); return false;">Bayelsa</a>
          <a class="" data-city-id="19" href="#" onclick="setCurrentState(this); return false;">Benue</a>
          <a class="" data-city-id="20" href="#" onclick="setCurrentState(this); return false;">Borno</a>
          <a class="" data-city-id="21" href="#" onclick="setCurrentState(this); return false;">Cross River</a>
          <a class="" data-city-id="22" href="#" onclick="setCurrentState(this); return false;">Delta</a>
          <a class="" data-city-id="23" href="#" onclick="setCurrentState(this); return false;">Ebonyi</a>
          <a class="" data-city-id="24" href="#" onclick="setCurrentState(this); return false;">Edo</a>
          <a class="" data-city-id="25" href="#" onclick="setCurrentState(this); return false;">Ekiti</a>
          <a class="" data-city-id="46" href="#" onclick="setCurrentState(this); return false;">Enugu</a>
          <a class="" data-city-id="26" href="#" onclick="setCurrentState(this); return false;">Gombe</a>
          <a class="" data-city-id="27" href="#" onclick="setCurrentState(this); return false;">Imo</a>
          <a class="" data-city-id="28" href="#" onclick="setCurrentState(this); return false;">Jigawa</a>
          <a class="" data-city-id="29" href="#" onclick="setCurrentState(this); return false;">Kaduna</a>
          <a class="" data-city-id="30" href="#" onclick="setCurrentState(this); return false;">Kano</a>
          <a class="" data-city-id="31" href="#" onclick="setCurrentState(this); return false;">Katsina</a>
          <a class="" data-city-id="32" href="#" onclick="setCurrentState(this); return false;">Kebbi</a>
          <a class="" data-city-id="33" href="#" onclick="setCurrentState(this); return false;">Kogi</a>
          <a class="" data-city-id="34" href="#" onclick="setCurrentState(this); return false;">Kwara</a>
          <a class="" data-city-id="35" href="#" onclick="setCurrentState(this); return false;">Nassarawa</a>
          <a class="" data-city-id="36" href="#" onclick="setCurrentState(this); return false;">Niger</a>
          <a class="" data-city-id="37" href="#" onclick="setCurrentState(this); return false;">Ogun</a>
          <a class="" data-city-id="38" href="#" onclick="setCurrentState(this); return false;">Ondo</a>
          <a class="" data-city-id="39" href="#" onclick="setCurrentState(this); return false;">Osun</a>
          <a class="" data-city-id="40" href="#" onclick="setCurrentState(this); return false;">Oyo</a>
          <a class="" data-city-id="41" href="#" onclick="setCurrentState(this); return false;">Plateau</a>
          <a class="" data-city-id="42" href="#" onclick="setCurrentState(this); return false;">Sokoto</a>
          <a class="" data-city-id="43" href="#" onclick="setCurrentState(this); return false;">Taraba</a>
          <a class="" data-city-id="44" href="#" onclick="setCurrentState(this); return false;">Yobe</a>
          <a class="" data-city-id="45" href="#" onclick="setCurrentState(this); return false;">Zamfara</a>
      </li>
    </ul>
  </div>
</div>    <div id="wrapper">
      <div class="livechat"> 
      <div id="LiveChat_1320988382"><div id="LiveChat_1320988382_button"><a id="LiveChat_1320988382_btn" href="https://secure.livechatinc.com/licence/1080147/open_chat.cgi?groups=0&amp;session_id=S1373953088.4a4c7b5e15" target="chat_1080147_secure.livechatinc.com"><img src="//livechat.s3.amazonaws.com/1080147/0/button/online/7ad8719f0af61ce0621ba9453d2360d0.gif" style="border: 0px;"></a></div></div>

    </div>
      <div id="header">
  <div id="fb-root" class=" fb_reset"><script async="" src="http://connect.facebook.net/en_US/all.js"></script><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" src="http://static.ak.facebook.com/connect/xd_arbiter.php?version=28#channel=f23066ee5c&amp;channel_path=%2Fusers%2Fsign_in%3Ffb_xd_fragment%23xd_sig%3Df6a50f624%26&amp;origin=http%3A%2F%2Fwww.dealdey.com" style="border: none;"></iframe><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" src="https://s-static.ak.facebook.com/connect/xd_arbiter.php?version=28#channel=f23066ee5c&amp;channel_path=%2Fusers%2Fsign_in%3Ffb_xd_fragment%23xd_sig%3Df6a50f624%26&amp;origin=http%3A%2F%2Fwww.dealdey.com" style="border: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>
  <div class="header-bottom">
    <h1 class="logo"><a href="/">Dealdey</a></h1>

    <div class="feed-marquee">
      <div class="anythingSlider anythingSlider-default activeSlider" style="width: 154px; height: 204px;"><div class="anythingWindow"><ul id="feed-marquee" style="height: 2448px; top: -1632px;" class="anythingBase"><a href="http://www.dealdey.com/feed" class="'hide' cloned panel vertical" style="width: 154px; height: 204px;">
              <li style="width: 100%; height: 100%;">
                <dl>
                  <dt><img alt="F---productimage----benchmark-02" src="http://s3.amazonaws.com/www.dealdey.com/system/deals/images/31395/marquee_icon/F---Productimage----Benchmark-02.jpg?1389802701"></dt>
                  <dd>
                    <b>29</b> coupons sold<br>
                    <i>Spill Stopper Lid</i>
                  </dd>
                </dl>
              </li>
            </a>
            <a href="http://www.dealdey.com/feed" class="panel vertical" style="width: 154px; height: 204px;">
              <li style="width: 100%; height: 100%;">
                <dl>
                  <dt><img alt="F---productimage-6_2_2" src="http://s3.amazonaws.com/www.dealdey.com/system/deals/images/31562/marquee_icon/F---Productimage-6_2_2.jpg?1389962737"></dt>
                  <dd>
                    <b>29</b> coupons sold<br>
                    <i>Magic Puzzle Cube</i>
                  </dd>
                </dl>
              </li>
            </a>
            <a href="http://www.dealdey.com/feed" class="'hide' panel vertical" style="width: 154px; height: 204px;">
              <li style="width: 100%; height: 100%;">
                <dl>
                  <dt><img alt="F---productimage-4_(6)" src="http://s3.amazonaws.com/www.dealdey.com/system/deals/images/31319/marquee_icon/F---Productimage-4_(6).jpg?1389782105"></dt>
                  <dd>
                    <b>62</b> coupons sold<br>
                    <i>Potato Chipper</i>
                  </dd>
                </dl>
              </li>
            </a>
            <a href="http://www.dealdey.com/feed" class="'hide' panel vertical" style="width: 154px; height: 204px;">
              <li style="width: 100%; height: 100%;">
                <dl>
                  <dt><img alt="F---productimage-6_2_21" src="http://s3.amazonaws.com/www.dealdey.com/system/deals/images/31533/marquee_icon/F---Productimage-6_2_21.jpg?1389951396"></dt>
                  <dd>
                    <b>109</b> coupons sold<br>
                    <i>Slimming Belt</i>
                  </dd>
                </dl>
              </li>
            </a>
            <a href="http://www.dealdey.com/feed" class="'hide' panel vertical" style="width: 154px; height: 204px;">
              <li style="width: 100%; height: 100%;">
                <dl>
                  <dt><img alt="F----travels-and-city---vacuum-cleaner-03" src="http://s3.amazonaws.com/www.dealdey.com/system/deals/images/31546/marquee_icon/F----Travels-and-city---vacuum-cleaner-03.jpg?1389959694"></dt>
                  <dd>
                    <b>28</b> coupons sold<br>
                    <i>2-in-1 Tire Inflator</i>
                  </dd>
                </dl>
              </li>
            </a>
            <a href="http://www.dealdey.com/feed" class="'hide' panel vertical" style="width: 154px; height: 204px;">
              <li style="width: 100%; height: 100%;">
                <dl>
                  <dt><img alt="Product-_(2)" src="http://s3.amazonaws.com/www.dealdey.com/system/deals/images/31192/marquee_icon/Product-_(2).jpg?1389788827"></dt>
                  <dd>
                    <b>81</b> coupons sold<br>
                    <i>Pamper Session</i>
                  </dd>
                </dl>
              </li>
            </a>
            <a href="http://www.dealdey.com/feed" class="'hide' panel vertical" style="width: 154px; height: 204px;">
              <li style="width: 100%; height: 100%;">
                <dl>
                  <dt><img alt="F_-_productimage-" src="http://s3.amazonaws.com/www.dealdey.com/system/deals/images/31574/marquee_icon/F_-_Productimage-.jpg?1389966789"></dt>
                  <dd>
                    <b>1</b> user liked<br>
                    <i>16GB Memory Card</i>
                  </dd>
                </dl>
              </li>
            </a>
            <a href="http://www.dealdey.com/feed" class="'hide' panel vertical" style="width: 154px; height: 204px;">
              <li style="width: 100%; height: 100%;">
                <dl>
                  <dt><img alt="Venus-ntmc-21" src="http://s3.amazonaws.com/www.dealdey.com/system/deals/images/31211/marquee_icon/Venus-NTMC-21.jpg?1389607736"></dt>
                  <dd>
                    <b>28</b> coupons sold<br>
                    <i>Sticker Wall Clock</i>
                  </dd>
                </dl>
              </li>
            </a>
            <a href="http://www.dealdey.com/feed" class="'hide' panel vertical activePage" style="width: 154px; height: 204px;">
              <li style="width: 100%; height: 100%;">
                <dl>
                  <dt><img alt="Product-dd18720c" src="http://s3.amazonaws.com/www.dealdey.com/system/deals/images/31369/marquee_icon/Product-DD18720c.jpg?1389796844"></dt>
                  <dd>
                    <b>45</b> coupons sold<br>
                    <i>Big Foot Door Mat</i>
                  </dd>
                </dl>
              </li>
            </a>
            <a href="http://www.dealdey.com/feed" class="'hide' panel vertical" style="width: 154px; height: 204px;">
              <li style="width: 100%; height: 100%;">
                <dl>
                  <dt><img alt="Product-da-vogue-spa" src="http://s3.amazonaws.com/www.dealdey.com/system/deals/images/31402/marquee_icon/Product-Da-Vogue-Spa.jpg?1389804692"></dt>
                  <dd>
                    <b>95</b> coupons sold<br>
                    <i>Relaxing Pamper Package</i>
                  </dd>
                </dl>
              </li>
            </a>
            <a href="http://www.dealdey.com/feed" class="'hide' panel vertical" style="width: 154px; height: 204px;">
              <li style="width: 100%; height: 100%;">
                <dl>
                  <dt><img alt="F---productimage----benchmark-02" src="http://s3.amazonaws.com/www.dealdey.com/system/deals/images/31395/marquee_icon/F---Productimage----Benchmark-02.jpg?1389802701"></dt>
                  <dd>
                    <b>29</b> coupons sold<br>
                    <i>Spill Stopper Lid</i>
                  </dd>
                </dl>
              </li>
            </a>
      <a href="http://www.dealdey.com/feed" class="cloned panel vertical" style="width: 154px; height: 204px;">
              <li style="width: 100%; height: 100%;">
                <dl>
                  <dt><img alt="F---productimage-6_2_2" src="http://s3.amazonaws.com/www.dealdey.com/system/deals/images/31562/marquee_icon/F---Productimage-6_2_2.jpg?1389962737"></dt>
                  <dd>
                    <b>29</b> coupons sold<br>
                    <i>Magic Puzzle Cube</i>
                  </dd>
                </dl>
              </li>
            </a></ul></div><div class="anythingControls" style="display: block;"><a href="#" class="start-stop playing" style="display: inline;"><span>Stop</span></a><ul class="thumbNav"></ul></div></div>
    </div>
    <div class="inviteFrnd"><a class="invite" href="#" onclick="FaceboxStylePopUp.open(&quot;#invite_friend&quot;);; return false;">Invite a friend and get &amp;#8358;1,000</a></div>

    <div class="search_block">
  <div class="search_group">
    <form accept-charset="UTF-8" action="/search" class="form coupon_search" id="searchForm" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
      <input autocomplete="off" class="autocomplete ui-autocomplete-input" id="search" name="search" placeholder="Search for a deal or promo" type="text" style="color: rgb(170, 170, 170);" role="textbox" aria-autocomplete="list" aria-haspopup="true">
      <div class="alert_select_cat alert_select_coupon"><span class="arrow"></span><span class="alert">Please enter a keyword to search</span></div>
      <div id="searched_deals">
        <div id="deals">
        </div>
        <div id="disc_coupons">
        </div>
      </div>
      <input type="submit" value="Submit" class="search">
</form>  </div>
</div>
    <div class="header-right">
     <ul class="header-links">
        <li class="signin">
          <a href="#" onclick="show_signin_popup(); return false;">Sign In</a>
        </li>
        <li><span class="or">or</span></li>

        <li class="signup"><a href="#" onclick="show_signup_popup(); return false;">Sign Up</a>
        </li>
        <li class="merchant"><a href="/merchant_welcome">Register as a Merchant</a></li>
    </ul>


  </div>
  <div class="header-last">
    <div class="call call_to_order">
      Call to Order
      <span>01- 4406237</span>
    </div>
    <ul class="cart-header">
        <li>
          <a href="/cart" class="cart-header"><span class="count">0</span>Cart</a>
          <div class="cart-details-hover" style="display: none;">
              <div class="cart-empty-message">Your cart is empty</div>
          </div>
        </li>
    </ul>
  </div>


  </div>
</div>
  <div id="signin_popup" style="display:none;">
    <div id="signin_popup_form">
      <div id="signin_popup_flash"></div>
      <div class="title"></div>
<div id="popup_flash"></div>
<form accept-charset="UTF-8" action="/users/sign_in" class="new_user" data-remote="true" id="log_in_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="A5Qh5L5MbNDtzCSmSjI/q63fxJxP4diLVS5P8u9xDS8="></div>
<ul class="signin-box-splash">
  <li>
    <dl>
      <dt><input id="sign_in_email" name="user[email]" size="30" type="text" value=""><span class="required-popup">*</span></dt>

      <dd><input id="sign_in_password" name="user[password]" size="30" type="password"><span class="required-popup">*</span></dd>
    </dl>
  </li>
  <li>
    <span class="main-button-orange"><input class="submit" name="commit" type="submit" value="Sign in"></span>
      <a class="forgotPWD" href="#" onclick="mobile_login('/users/password/new'); return false;">Forgot password?</a>
    <img alt="Loading" class="spinner_ajax" height="20" id="log_in_spinner" src="http://assets2.dealdey.com/assets/loading-a517505c8aec00a02ae09f11a4e27f53.gif" style="display:none;" width="20">
  </li>
  <li><span class="or">OR</span><a class="signinBtnFB" href="#" onclick="mobile_login('/users/auth', '/cart'); return false;">Login</a></li>
</ul>
</form>
    </div>
    <span class="member">Not A Member? <a href="#" onclick="show_signup_popup(); return false;">Sign Up</a></span>
  </div>
  <div id="new_member_register" style="display:none;">
    <div class="title"></div>
    <div id="signup_popup_form">
      <ul class="signup-box-splash">
  <form accept-charset="UTF-8" action="/users" class="new_user" data-remote="true" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="A5Qh5L5MbNDtzCSmSjI/q63fxJxP4diLVS5P8u9xDS8="></div>
    <li>
      <dl class="signup-header">
        <dt>
          <label class="compulsory">First Name</label><span class="required-popup">*</span>
          <input id="user_firstname" name="user[firstname]" size="30" type="text">
          <span id="errors"></span>
        </dt>
        <dd>
          <label class="compulsory">Last Name</label><span class="required-popup">*</span>
          <input id="user_lastname" name="user[lastname]" size="30" type="text" style="color: rgb(170, 170, 170);">
          <span id="errors"></span>
        </dd>
      </dl>
    </li>
    <li>
      <dl class="signup-header">
        <dt>
          <label class="compulsory">Email Address</label><span class="required-popup">*</span>
          <input id="user_email" name="user[email]" size="30" type="text" value="" style="color: rgb(170, 170, 170);">
          <span id="errors"></span>
        </dt>
        <dd>
          <label class="compulsory">Mobile</label><span class="required-popup">*</span>
          <input id="user_mobile" name="user[mobile]" size="30" type="text" style="color: rgb(170, 170, 170);">
          <span class="hints">E.g. 07/08XXXXXXXXX</span>
          <span id="errors"></span>
      </dd>
      </dl>
    </li>
    <li>
      <dl class="signup-header">
        <dt>
          <label class="compulsory">Gender</label><span class="required-popup">*</span>
          <div class="select-box">
            <strong class="valupdate">Gender</strong>
            <select id="user_gender" name="user[gender]"><option value="">Gender</option>
<option value="Male">Male</option>
<option value="Female">Female</option></select></div>
          <span id="errors"></span>
        </dt>
        <dd>
          <label class="compulsory">Age Bracket</label><span class="required-popup">*</span>
          <div class="select-box">
            <strong class="valupdate">Age</strong>
            <select id="user_age_bracket" name="user[age_bracket]"><option value="">Age</option>
<option value="18-25">18-25</option>
<option value="26-30">26-30</option>
<option value="31-37">31-37</option>
<option value="38-45">38-45</option>
<option value="46+">46+</option></select>
          </div>
          <span id="errors"></span>
        </dd>
      </dl>
    </li>
    <li class="last">
      <dl class="signup-header">
        <dt>
          <label class="compulsory">Password</label><span class="required-popup">*</span>
          <input id="user_password" name="user[password]" size="30" type="password" style="color: rgb(170, 170, 170);">
          <span id="errors"></span>
        </dt>
        <dd>
          <label class="compulsory">Confirm Password</label><span class="required-popup">*</span>
          <input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" style="color: rgb(170, 170, 170);">
          <span id="errors"></span>
        </dd>
      </dl>
    </li>
    <li class="register">
      <span class="button-orange-small"><input class="uppercase" name="commit" type="submit" value="Register"></span>
      <img alt="Spinner" class="register_processing_indicator spinner_ajax" src="http://assets0.dealdey.com/assets/spinner-a517505c8aec00a02ae09f11a4e27f53.gif" style="display:none;">
    </li>
    <li><strong class="orfb">Or</strong><a href="/users/auth" class="signinBtnFB"></a></li>
</form></ul>

    </div>
    <div id="new_member_register_bottom">
      <span class="already"><a href="#" onclick="show_signin_popup(); return false;">Already a member? Sign In.</a></span>
    </div>
  </div>

      <div id="main-nav">
  <div class="nav">
    <div class="nav-inner">
      <ul class="navigation">
        <li>
          <a href="/" class="inactive">            <span class="bg-left"><span class="icon"><img alt="Icon-dd" src="http://assets2.dealdey.com/assets/web/icon-dd-47ceec72d61d76700787d446dad52aee.png"></span>All</span>
</a>        </li>
          <!-- Cache created on: 2014-01-20 15:30:17 +0100 -->
              <li id="city-travel">
                 <a href="/categories/city-travel" class="inactive">
                  <span class="bg-left"><span class="icon"><img alt="Icon-city" src="http://s3.amazonaws.com/www.dealdey.com/system/categories/icons/41/original/icon-city.png?1361249299"></span>City &amp; Travel</span>
</a>                  <ul class="child-list"><li><a href="/categories/events"> Events</a><ul class="child-list"><li><a href="/categories/plays"> Plays</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/spa-wellness"> Spa &amp; Wellness</a><ul class="child-list"><li><a href="/categories/spas"> Spas</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/food-drink"> Food &amp; Drink</a><ul class="child-list"><li><a href="/categories/restaurants"> Restaurants</a><ul class="child-list"></ul></li><li><a href="/categories/cakes-cupcakes"> Cakes &amp; Cupcakes</a><ul class="child-list"></ul></li><li><a href="/categories/soups-other"> Soups &amp; Other</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/hotel-travel"> Hotel &amp; Travel</a><ul class="child-list"><li><a href="/categories/local-hotel"> Local Hotel</a><ul class="child-list"></ul></li><li><a href="/categories/international-holiday"> International Holiday</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/training"> Training</a><ul class="child-list"><li><a href="/categories/vocational"> Vocational</a><ul class="child-list"></ul></li><li><a href="/categories/business-professional"> Business &amp; Professional</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/professional-services"> Professional Services</a><ul class="child-list"><li><a href="/categories/auto"> Auto</a><ul class="child-list"></ul></li><li><a href="/categories/domestic"> Domestic</a><ul class="child-list"></ul></li><li><a href="/categories/business"> Business</a><ul class="child-list"></ul></li><li><a href="/categories/medical"> Medical</a><ul class="child-list"></ul></li></ul></li></ul> 
              </li>
              <li id="fashion-style">
                 <a href="/categories/fashion-style" class="inactive">
                  <span class="bg-left"><span class="icon"><img alt="Icon-fashion" src="http://s3.amazonaws.com/www.dealdey.com/system/categories/icons/43/original/icon-fashion.png?1361249320"></span>Fashion</span>
</a>                  <ul class="child-list"><li><a href="/categories/accessories"> Accessories</a><ul class="child-list"><li><a href="/categories/watches-2"> Watches</a><ul class="child-list"></ul></li><li><a href="/categories/jewellery-2"> Jewellery</a><ul class="child-list"></ul></li><li><a href="/categories/bags-purses-2"> Bags &amp; Purses</a><ul class="child-list"></ul></li><li><a href="/categories/other-accessories-2"> Other Accessories</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/female-bottoms"> Female Bottoms</a><ul class="child-list"><li><a href="/categories/skirts-2"> Skirts</a><ul class="child-list"></ul></li><li><a href="/categories/trousers-2"> Trousers</a><ul class="child-list"></ul></li><li><a href="/categories/jeans-2"> Jeans</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/male-bottoms"> Male Bottoms</a><ul class="child-list"><li><a href="/categories/jeans"> Jeans</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/male-tops"> Male Tops</a><ul class="child-list"><li><a href="/categories/t-shirts"> T-Shirts</a><ul class="child-list"></ul></li><li><a href="/categories/polos"> Polos</a><ul class="child-list"></ul></li><li><a href="/categories/formal-shirts"> Formal Shirts</a><ul class="child-list"></ul></li><li><a href="/categories/jackets"> Jackets</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/male-footwear"> Male Footwear</a><ul class="child-list"><li><a href="/categories/formal-shoes"> Formal Shoes</a><ul class="child-list"></ul></li><li><a href="/categories/casual-sport-shoes"> Casual &amp; Sport Shoes</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/female-footwear"> Female Footwear</a><ul class="child-list"><li><a href="/categories/sandals-slippers"> Sandals &amp; Slippers</a><ul class="child-list"></ul></li><li><a href="/categories/flats-2"> Flats</a><ul class="child-list"></ul></li><li><a href="/categories/heels-2"> Heels</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/utility-wear"> Utility Wear</a><ul class="child-list"><li><a href="/categories/boxers-2"> Boxers</a><ul class="child-list"></ul></li><li><a href="/categories/sleepwear-2"> Sleepwear</a><ul class="child-list"></ul></li><li><a href="/categories/vests-2"> Vests</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/female-tops"> Female Tops</a><ul class="child-list"><li><a href="/categories/jackets-2"> Jackets</a><ul class="child-list"></ul></li><li><a href="/categories/polos-2"> Polos</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/beauty-fragrance"> Beauty &amp; Fragrance</a><ul class="child-list"><li><a href="/categories/male-fragrance-2"> Male Fragrance</a><ul class="child-list"></ul></li><li><a href="/categories/female-fragrance-2"> Female Fragrance</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/suits"> Suits</a><ul class="child-list"><li><a href="/categories/male-suits"> Male Suits</a><ul class="child-list"></ul></li></ul></li></ul> 
              </li>
              <li id="gadgets-electronics">
                 <a href="/categories/gadgets-electronics" class="inactive">
                  <span class="bg-left"><span class="icon"><img alt="Icon-gadgets" src="http://s3.amazonaws.com/www.dealdey.com/system/categories/icons/44/original/icon-gadgets.png?1361249368"></span>Gadgets &amp; Electronics</span>
</a>                  <ul class="child-list"><li><a href="/categories/computers-accessories"> Computers &amp; Accessories</a><ul class="child-list"><li><a href="/categories/computer-accessories"> Computer Accessories</a><ul class="child-list"></ul></li><li><a href="/categories/storage-drives-media"> Storage, Drives &amp; Media</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/mobiles-accessories"> Mobiles &amp; Accessories</a><ul class="child-list"><li><a href="/categories/cases-and-covers"> Cases and Covers</a><ul class="child-list"></ul></li><li><a href="/categories/hands-free-devices"> Hands-free Devices</a><ul class="child-list"></ul></li><li><a href="/categories/phones-tablets"> Phones &amp; Tablets</a><ul class="child-list"></ul></li><li><a href="/categories/power-banks-chargers"> Power Banks &amp; Chargers</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/electronics"> Electronics</a><ul class="child-list"><li><a href="/categories/cameras-2"> Cameras</a><ul class="child-list"></ul></li><li><a href="/categories/security-gadgets"> Security Gadgets</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/automobile-industrial-2"> Automobile &amp; Industrial</a><ul class="child-list"><li><a href="/categories/automobile-industrial"> Automobile &amp; Industrial</a><ul class="child-list"></ul></li></ul></li></ul> 
              </li>
              <li id="home-decor">
                 <a href="/categories/home-decor" class="inactive">
                  <span class="bg-left"><span class="icon"><img alt="Icon-decor" src="http://s3.amazonaws.com/www.dealdey.com/system/categories/icons/45/original/icon-decor.png?1361249386"></span>Home &amp; Decor</span>
</a>                  <ul class="child-list"><li><a href="/categories/home-decor-2"> Home Decor</a><ul class="child-list"><li><a href="/categories/lamps-lighting"> Lamps &amp; Lighting</a><ul class="child-list"></ul></li><li><a href="/categories/others-2"> Others</a><ul class="child-list"></ul></li><li><a href="/categories/handicraft"> Handicraft</a><ul class="child-list"></ul></li><li><a href="/categories/clocks"> Clocks</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/kitchen"> Kitchen</a><ul class="child-list"><li><a href="/categories/dining-serving"> Dining &amp; Serving</a><ul class="child-list"></ul></li><li><a href="/categories/cookware"> Cookware</a><ul class="child-list"></ul></li><li><a href="/categories/kitchen-utensils"> Kitchen Utensils</a><ul class="child-list"></ul></li><li><a href="/categories/groceries"> Groceries</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/home-improvement"> Home Improvement</a><ul class="child-list"><li><a href="/categories/bath-sanitary-ware"> Bath &amp; Sanitary Ware</a><ul class="child-list"></ul></li><li><a href="/categories/hardware-fixtures"> Hardware &amp; Fixtures</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/living-dining"> Living &amp; Dining</a><ul class="child-list"><li><a href="/categories/furniture"> Furniture</a><ul class="child-list"></ul></li><li><a href="/categories/mats-and-carpets"> Mats and Carpets</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/fitness-equipment-accessories"> Fitness Equipment &amp; Accessories</a><ul class="child-list"><li><a href="/categories/fitness-accessories"> Fitness Accessories</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/home-appliances-2"> Home Appliances</a><ul class="child-list"><li><a href="/categories/air-conditioners"> Air Conditioners</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/storage-preservation"> Storage &amp; Preservation</a><ul class="child-list"><li><a href="/categories/spice-racks"> Spice Racks</a><ul class="child-list"></ul></li><li><a href="/categories/hampers"> Hampers</a><ul class="child-list"></ul></li><li><a href="/categories/racks-2"> Racks</a><ul class="child-list"></ul></li><li><a href="/categories/baskets-cases"> Baskets &amp; Cases</a><ul class="child-list"></ul></li><li><a href="/categories/cans-bowls-more"> Cans, Bowls &amp; More</a><ul class="child-list"></ul></li></ul></li><li><a href="/categories/health-personal-care"> Health &amp; Personal Care</a><ul class="child-list"><li><a href="/categories/personal-care"> Personal Care</a><ul class="child-list"></ul></li><li><a href="/categories/massagers-2"> Massagers</a><ul class="child-list"></ul></li><li><a href="/categories/health"> Health</a><ul class="child-list"></ul></li></ul></li></ul> 
              </li>
              <li id="baby-kids-3">
                 <a href="/categories/baby-kids-3" class="inactive">
                  <span class="bg-left"><span class="icon"><img alt="Baby_icon1" src="http://s3.amazonaws.com/www.dealdey.com/system/categories/icons/349/original/Baby_icon1.png?1389353700"></span>Baby &amp; Kids</span>
</a>                  <ul class="child-list"></ul> 
              </li>
            <li class="promo inactive">
              <a href="/promos" class="inactive">
                <span class="bg-left"><span class="icon"><img alt="Icon-promo-inactive" src="http://assets1.dealdey.com/assets/web/icon-promo-inactive-99e5905afd24ef00e3b58b9db37f9f70.png"></span>Promos</span>
</a>            </li>
        <li id="search-li">
          <div class="search_block">
            <form accept-charset="UTF-8" action="/search" class="form coupon_search" id="searchForm" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
              <span class="search-icon"></span>
              <input autocomplete="off" class="autocomplete ui-autocomplete-input" id="search" name="search" placeholder="Search" type="text" style="color: rgb(170, 170, 170);" role="textbox" aria-autocomplete="list" aria-haspopup="true">
              <div class="alert_select_cat alert_select_coupon"><span class="arrow"></span><span class="alert"></span><span class="text">Please enter a keyword to search</span></div>
              <div id="searched_deals" style="display: none;">
                <div id="deals">
                </div>
                <div id="disc_coupons">
                </div>
              </div>
              <input class="search" name="commit" type="submit" value="search">
</form>          </div>
        </li>
        <li class="feed">
          <a href="/feed" class="inactive">
            <span class="bg-left">
              <span class="feed-counter">232</span>
              <span class="icon"><img alt="Icon-feed-inactive" src="http://assets0.dealdey.com/assets/web/icon-feed-inactive-0c0d92435ce4a4fb3db43e71ba3ecab4.png"></span>Feed
            </span>
</a>        </li>
      </ul>
    </div>
  </div>

  <div class="dealIn"><span class="selectDrop"><a href="#" onclick="toggleStateOptionsOnWeb();; return false;">Lagos</a></span>
  </div>

  
  <div class="fr">
    <div class="fb-block">
      <div class="dealdey-facebook-likes">
        <div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="https://www.facebook.com/DealDey" data-layout="button_count" data-send="false" data-show-faces="false" style="overflow:hidden!important;position:relative!important;" fb-xfbml-state="rendered"><span style="height: 20px; width: 79px;"><iframe id="f27476cfc" name="f10eba473" scrolling="no" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=161472460571934&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D28%23cb%3Df71807788%26domain%3Dwww.dealdey.com%26origin%3Dhttp%253A%252F%252Fwww.dealdey.com%252Ff23066ee5c%26relation%3Dparent.parent&amp;colorscheme=light&amp;extended_social_context=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FDealDey&amp;layout=button_count&amp;locale=en_US&amp;node_type=link&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=90" style="border: none; overflow: hidden; height: 20px; width: 79px;"></iframe></span></div>

      </div>
    </div>
  </div>
 

  
</div>



      <div class="layout-wrapper">
        <div class="flash" id="flash"></div>        <div class="login">
    <h1>Sign In or Sign Up with your DealDey account.</h1>
  <div class="signin">
    <h6>Already a Member</h6>
    <h2>Sign In</h2>
    <form accept-charset="UTF-8" action="/users/sign_in" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="A5Qh5L5MbNDtzCSmSjI/q63fxJxP4diLVS5P8u9xDS8="></div>
    <ul>
      <li>
        <label for="user_email">Email</label>
        <input id="user_email" name="user[email]" size="30" type="text" value="">
      </li>
      <li>
        <label for="user_password">Password</label>
        <input id="user_password" name="user[password]" size="30" type="password">
      </li>
        <li class="remember"><input name="user[remember_me]" type="hidden" value="0"><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1"> <label for="user_Keep me signed in (for a week)">Keep me signed in (for a week)</label></li>
      <li>
        <span class="main-button-orange"><input class="submit" name="commit" onclick="disable_submit_button(this, 'Signing In');" type="submit" value="Sign in"></span>
          <a href="/users/password/new" class="forgotPWD">Forgot password?</a>
      </li>
      <li class="or">OR</li>
      <li><a href="/users/auth" class="signinBtnFB">Login</a></li>
    </ul>
</form>  </div>

    <div class="signup">
    <h6>New Member</h6>
    <h2>Sign Up</h2>
    <ul>
      <form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="A5Qh5L5MbNDtzCSmSjI/q63fxJxP4diLVS5P8u9xDS8="></div>
      <li>
        <label class="compulsory" for="user_firstname">First Name *</label>
        <input id="user_firstname" name="user[firstname]" size="30" type="text">
        
      </li>
      <li>
        <label class="compulsory" for="user_lastname">Last Name *</label>
        <input id="user_lastname" name="user[lastname]" size="30" type="text">
        
      </li>
      <li>
        <label class="compulsory" for="user_email">Email Address *</label>
        <input id="user_email" name="user[email]" size="30" type="text" value="">
        
      </li>
      <li>
        <label class="compulsory" for="user_mobile">Mobile *</label>
        <input id="user_mobile" name="user[mobile]" size="30" type="text">
        
        <span>E.g. 07XXXXXXXXX or 08XXXXXXXXX</span>
      </li>
      <li class="input-data">
        <label class="compulsory" for="user_gender">Gender *</label>
        <div class="select-box">
          <strong class="valupdate">Gender</strong>
          <select id="user_gender" name="user[gender]"><option value="">Gender</option>
<option value="Male">Male</option>
<option value="Female">Female</option></select>

        </div>
        
      </li>
      <li class="input-data">
        <label class="compulsory" for="user_age_bracket">Age Bracket*</label>
        <div class="select-box">
          <strong class="valupdate">Age</strong>
          <select id="user_age_bracket" name="user[age_bracket]"><option value="">Age</option>
<option value="18-25">18-25</option>
<option value="26-30">26-30</option>
<option value="31-37">31-37</option>
<option value="38-45">38-45</option>
<option value="46+">46+</option></select>
        </div>
        
      </li>
      <li>
        <label class="compulsory" for="user_password">Password *</label>
        <input id="user_password" name="user[password]" size="30" type="password">
        
      </li>
      <li>
        <label class="compulsory" for="user_password_confirmation">Confirm Password *</label>
        <input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password">
        
      </li>
      <li class="terms">
        <input name="user[terms]" type="hidden" value="0"><input id="user_terms" name="user[terms]" type="checkbox" value="1">I agree to the <a href="/terms" target="_blank">Terms of Use</a> and <a href="/privacy_policy" target="_blank">Privacy Policy</a>.
        
      </li>
      <li class="cfl button">
        <span class="main-button-orange"><input class="submit" name="commit" onclick="disable_submit_button(this, 'Signing Up');" type="submit" value="Register"></span>
      </li>
</form>    </ul>
  </div>

</div>
      </div>
    </div>
    


<div id="footer">
    <div class="footer-top">
      
      <div class="block know">
        <h1>Know</h1>
        <ul>
          <li><a href="/about_us">About Us</a></li>
          <li><a href="/contact_us">Contact Us</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/how_it_works">How It Works</a></li>
          <li><a href="http://www.dealdey.com/blog" target="_blank">The DealDeyholic Blog</a></li>
        </ul>
      </div>
      <div class="block explore-main">
        <div class="explore">
          <h1>Explore</h1>
          <ul>
            <li><a href="/terms" target="_blank">Terms Of Use</a></li>
            <li><a href="/privacy_policy" target="_blank">Privacy Policy</a></li>
            <li><a href="/delivery_return_refund_and_cancellation_policy" target="_blank">Delivery, Return, Refund<br>and Cancellation Policy</a></li>
            <li><a href="/merchant_welcome">Register as a Merchant</a></li>
          </ul>
        </div>
      </div>
      <div class="block payment">
        <h1>Payment Options</h1>
        <div class="cards">
          <div class="mastercard"></div>
          <div class="visa"></div>
          <div class="verve"></div>
        </div>
        <div class="cards">
          <div class="gtb"></div>
          <div class="zenith"></div>
          <div class="access"></div>
        </div>
        <div class="cards">
          <div class="paga"></div>
          <div class="rencredit"></div>
        </div>
        <div class="cards">
          <div class="pod"></div>
        </div>
      </div>
      
      <div class="block articles">

            <div class="press_articles" style="">
              <h1>What the press say </h1>
               <div class="title"><a href="http://techcrunch.com/2011/05/13/yes-there-are-tech-startups-in-nigeria-here-are-my-favorites/" target="_blank">TechCrunch</a></div>
              <ul class="press-article">
                <li class="image">
                  <div class="image"><a href="http://techcrunch.com/2011/05/13/yes-there-are-tech-startups-in-nigeria-here-are-my-favorites/" target="_blank"><img alt="Uploads-by-techcrunch--jpg" src="http://s3.amazonaws.com/www.dealdey.com/system/press_articles/logos/1/thumb70x/Uploads-by-techcrunch--jpg.jpeg?1309255988"></a></div>
                </li>
                <li class="right">
                  <div class="excerpt">A daily deal site that is...powerful and exciting</div>
                  <div class="clb"><a href="/press_articles">View All</a></div>
                </li>
              </ul>
            </div>
            <div class="press_articles" style="display:none">
              <h1>What the press say </h1>
               <div class="title"><a href="http://blogs.forbes.com/mfonobongnsehe/2011/05/26/five-sexy-african-tech-startups/" target="_blank">Forbes</a></div>
              <ul class="press-article">
                <li class="image">
                  <div class="image"><a href="http://blogs.forbes.com/mfonobongnsehe/2011/05/26/five-sexy-african-tech-startups/" target="_blank"><img alt="Unknown" src="http://s3.amazonaws.com/www.dealdey.com/system/press_articles/logos/2/thumb70x/Unknown.jpeg?1309255988"></a></div>
                </li>
                <li class="right">
                  <div class="excerpt">DealDey is a premier group-buying site offering Nigerians the best discounted deals on local restaurants, shops and more...</div>
                  <div class="clb"><a href="/press_articles">View All</a></div>
                </li>
              </ul>
            </div>
            <div class="press_articles" style="display:none">
              <h1>What the press say </h1>
               <div class="title"><a href="http://afrinnovator.com/blog/2011/05/29/6-cool-nigerian-tech-startups/" target="_blank">Afrinnovator</a></div>
              <ul class="press-article">
                <li class="image">
                  <div class="image"><a href="http://afrinnovator.com/blog/2011/05/29/6-cool-nigerian-tech-startups/" target="_blank"><img alt="Logo" src="http://s3.amazonaws.com/www.dealdey.com/system/press_articles/logos/3/thumb70x/logo.png?1309255989"></a></div>
                </li>
                <li class="right">
                  <div class="excerpt">DealDey features a daily deal on the best things to do, see, eat, and buy in Lagos...</div>
                  <div class="clb"><a href="/press_articles">View All</a></div>
                </li>
              </ul>
            </div>
            <div class="press_articles" style="display:none">
              <h1>What the press say </h1>
               <div class="title"><a href="http://www.cnn.com/2011/10/10/business/online-shopping-nigeria/index.html?hpt=iaf_t3" target="_blank">CNN</a></div>
              <ul class="press-article">
                <li class="image">
                  <div class="image"><a href="http://www.cnn.com/2011/10/10/business/online-shopping-nigeria/index.html?hpt=iaf_t3" target="_blank"><img alt="Unknown" src="http://s3.amazonaws.com/www.dealdey.com/system/press_articles/logos/6/thumb70x/Unknown.jpeg?1318320825"></a></div>
                </li>
                <li class="right">
                  <div class="excerpt">Every day DealDey sends an email to customers with all the latest discounts...members receive a coupon along with details about their purchase's collection</div>
                  <div class="clb"><a href="/press_articles">View All</a></div>
                </li>
              </ul>
            </div>
            <div class="press_articles" style="display:none">
              <h1>What the press say </h1>
               <div class="title"><a href="http://online.wsj.com/article/SB10001424052702303879604577412043390891430.html?mod=WSJEurope_hpp_LEFTTopStories" target="_blank">Wall Street Journal</a></div>
              <ul class="press-article">
                <li class="image">
                  <div class="image"><a href="http://online.wsj.com/article/SB10001424052702303879604577412043390891430.html?mod=WSJEurope_hpp_LEFTTopStories" target="_blank"><img alt="Wall_street_jou" src="http://s3.amazonaws.com/www.dealdey.com/system/press_articles/logos/7/thumb70x/wall_street_jou.jpg?1342016957"></a></div>
                </li>
                <li class="right">
                  <div class="excerpt">...DealDey.com employs of fleet of motorcyclists to dart through gridlocked streets to meet online shoppers waiting to pay for their purchases with cash</div>
                  <div class="clb"><a href="/press_articles">View All</a></div>
                </li>
              </ul>
            </div>
      </div>
    </div>
  <div class="footer-bottom">
    <div class="call-footer">01- 4406237
      <span>or email <a href="mailto:#{HELP_EMAIL}">help@dealdey.com</a></span>
    </div>
    <div class="right">
      <div class="copyright">Copyright © 2014 DealDey. All rights reserved.</div>
      <div class="follow fb-block">
        <span>Follow Us</span>
        <a href="https://plus.google.com/105791807078062759526" class="gplus-link social-links" target="_blank"></a>
        <a href=" http://pinterest.com/dealdey/" class="pinterest-link social-links" target="_blank"></a>
        <a href="http://www.twitter.com/dealdey" class="twitter-link social-links" target="_blank"></a>
        <a href="http://www.facebook.com/dealdey" class="fb-link social-links" target="_blank"></a>
      </div>
    </div>
  </div>
  <div class="switch-to-mobile-site"></div>
</div>

    <p id="back-top" style="display: none;"><a href="#top"></a></p>
    <div class="javasacripts-block">
      <style type="text/css">input.styled { display: none; } select.styled { position: relative; width: 233px; opacity: 0; filter: alpha(opacity=0); z-index: 5; } .disabled { opacity: 0.5; filter: alpha(opacity=50); }</style>
      
      <style type="text/css">
.splash-screen .ui-dialog-content, #invite_friend, #mobile-number-verification-form-container, #visa-card-enrol-instructions, #sms_payment_instructions { background:none!important; }
</style>
<div id="splash_holder" style="display:none;">
    <div id="new_city_select" style="display:none">
    <a href="javascript:void(0);" class="no-subscription"></a>
    <div class="splash-inner">
      <div class="splash-logo"><div></div></div>
      <div id="popup_flash"> </div>
      <form accept-charset="UTF-8" action="/email_subscriptions" class="new_email_subscription" data-remote="true" id="new_email_subscription" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="A5Qh5L5MbNDtzCSmSjI/q63fxJxP4diLVS5P8u9xDS8="></div>
  <div id="enter-email-text"></div>
  <input class="email" id="email_subscription_email" name="email_subscription[email]" size="30" type="text" value="Enter Email to Receive Deals" style="color: rgb(170, 170, 170);">
  <div id="select-state-text"></div>
  <select id="email_subscription_state_id" name="email_subscription[state_id]"><option value="13">Abia</option>
<option value="9">Abuja</option>
<option value="14">Adamawa</option>
<option value="15">Akwa Ibom</option>
<option value="52">Anambra</option>
<option value="17">Bauchi</option>
<option value="18">Bayelsa</option>
<option value="19">Benue</option>
<option value="20">Borno</option>
<option value="21">Cross River</option>
<option value="22">Delta</option>
<option value="23">Ebonyi</option>
<option value="24">Edo</option>
<option value="25">Ekiti</option>
<option value="46">Enugu</option>
<option value="26">Gombe</option>
<option value="27">Imo</option>
<option value="28">Jigawa</option>
<option value="29">Kaduna</option>
<option value="30">Kano</option>
<option value="31">Katsina</option>
<option value="32">Kebbi</option>
<option value="33">Kogi</option>
<option value="34">Kwara</option>
<option value="8">Lagos</option>
<option value="35">Nassarawa</option>
<option value="36">Niger</option>
<option value="37">Ogun</option>
<option value="38">Ondo</option>
<option value="39">Osun</option>
<option value="40">Oyo</option>
<option value="41">Plateau</option>
<option value="10">Rivers</option>
<option value="42">Sokoto</option>
<option value="43">Taraba</option>
<option value="44">Yobe</option>
<option value="45">Zamfara</option></select><br>
  <span class="main-button-orange"><input class="submit" name="commit" type="submit" value="Subscribe Now"></span>
  <img alt="Loading" class="loadingIndicator spinner_ajax" src="http://assets2.dealdey.com/assets/loading-a517505c8aec00a02ae09f11a4e27f53.gif" style="display:none">
</form>
      <span class="already"><a href="#" onclick="set_splash_screen_cookie(); window.location.replace('http://www.dealdey.com/');"></a></span>
      <div class="feature-tabs">
          <dl class="new-cat">
            <dt></dt>
            <dd>
              <a href="/categories/baby-kids-3" class="baby_category_link" target="_blank"></a>
              <span class="shadow"></span>
            </dd>   
          </dl>
        <dl class="new-app">
          <dt></dt>
          <dd>
            <a href="https://itunes.apple.com/ng/app/dealdey/id784450637" target="_blank"></a>
            <span class="shadow"></span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>


      <script type="text/javascript">
//<![CDATA[

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', "UA-22289968-1"]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
//]]>
</script>
      <script type="text/javascript">
        $(document).ready(function(){
          initalize_back_to_top_script();

            binding_ajax_call($("form#log_in_form"))
  binding_ajax_call($("form#new_user"))
  $(".select-box select").live("change keyup", function(){
        var selectVal = $(this).val();
        $(this).parents(".select-box").find("strong.valupdate").text(selectVal);
  });
  window.fbAsyncInit = function() {
    FB.init({ apiKey: "161472460571934", status: true, cookie: true, xfbml: true});
    FB.Event.subscribe('edge.create', function(response) {
      if(!response.match(/\/deals\//)){
        if (navigator.userAgent.indexOf("MSIE")!=-1){
           $('.dealdey-facebook-likes iframe ').attr("style", "position:relative !important;top:37px !important;left:0px !important;");
        }
        if (navigator.userAgent.indexOf("iPad")!=-1){
          $('#fb_comments_hack_web').focus().blur().blur();
        }
      }
    });
    FB.Event.subscribe('edge.remove', function(response) {
    });
    FB.Event.subscribe('comment.remove', function(response) {
      var data = 'id='+response.href+'&comment_id='+response.commentID
      remote_function("DELETE", "/facebook_comments/destroy_comment?type=fb_comments_count", data, true, null, null );
    });
    FB.Event.subscribe('comment.create', function(response){
      var data = 'response_href='+response.href+'&parent_comment_id='+response.parentCommentID+'&comment_id='+response.commentID
      remote_function("POST", "/facebook_comments?type=fb_comments_count", data, true, null, null );
    });
  };
  (function() {
      var e = document.createElement('script'); e.async = true;
      e.src = "http://connect.facebook.net/en_US/all.js";
      //e.src = "/javascripts/facebook/all.js";
      document.getElementById('fb-root').appendChild(e);
    }());
  function facebookConnect(func){
    function handleResponse(response){
      if(response.session) {
        func(); // user provided his data
      } else {}   // user cancelled login
    }
    FB.login(handleResponse, { perms:"email" });
  }
  initalize_header_marquee('feed-marquee');
  $("ul#feed-marquee").show();
  FaceboxStylePopUp.init('#invite_friend', { dialogClass: "invite-popup" });
  $(".header-links #user_email").Watermark("Email");
  $(".header-links #user_password").Watermark("Password");
  $(".header-links #user_firstname").Watermark("First Name");
  $(".header-links #user_lastname").Watermark("Last Name");
  $(".header-links .signup-header #user_email").Watermark("Email");
  $(".header-links #user_mobile").Watermark("Mobile");
  $(".header-links .signup-header #user_password").Watermark("Password");
  $(".header-links #user_password_confirmation").Watermark("Password");
  $('.button-orange-small input[type=submit]').click(function(){
    $.Watermark.HideAll();
  });

  $('li.category-links').hover( function() {
    $('ul.category-drop').show('blind');
    }, function(){
      $('ul.category-drop').hide('blind', function(){
    });
  });
  $('ul.cart-header').hover( function() {
    //$('div.cart-details-hover').stop(true, true).delay(300).slideDown(400, "easeOutBounce");
    $('div.cart-details-hover').show('blind');
    }, function(){
      //$('div.cart-details-hover').stop(true, true).delay(300).fadeOut(500, "easeInCubic");
      $('div.cart-details-hover').hide('fade');
    }
  );
    drop_down_categories()
  $('.deal-description .buy-now a.buy-now-button').click(function(){
    $(this).attr('href', 'http://www.dealdey.com/cart');
  });
  feed_refresh_time = 1390228594

  function refresh_feeds(){
    setInterval(function(){
      var timestamp = Math.round((new Date()).getTime() / 1000)
      if(feed_refresh_time == timestamp){
       $.ajax({
                type: 'POST',
                url: "/feeds/get_recent_feeds"
               });
      }
    }, 1000);    
  }

  refresh_feeds();
   press_article_length = $('.press_articles').length
   random_press_article = $('.press_articles')[ Math.floor(Math.random()* press_article_length )]
   $(random_press_article).show();
        });
      </script>
      
      
        <script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/8257.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>

      <script type="text/javascript">
//<![CDATA[

        // Chartbeat <body> Code.
        var _sf_async_config = { uid: 36446, domain: 'dealdey.com' };
        (function() {
          function loadChartbeat() {
            window._sf_endpt = (new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src', (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") + "js/chartbeat.js");
            document.body.appendChild(e);
          };
          var oldonload = window.onload;
          window.onload = (typeof window.onload != 'function') ?
          loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
      
//]]>
</script>
      
      <script type="text/javascript">
        var __lc = {};
        __lc.license = 1080147 ;
        __lc.params = [];
        (function() {
          var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
          lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
        })();
      </script>
    
    </div>
    <script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";
e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" +
  "js-agent.newrelic.com/nr-100.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","beacon-6.newrelic.com","ca6c52300e","2145332","Jl9dERBaX19TQRZDUxZDWgoMRhxdU0Q=",0,67,new Date().getTime(),"","","","",""]);</script>
      <!-- Google Code for Remarketing tag -->
  <!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 998156727;
  var google_conversion_label = "TKsYCPn3gwQQt9P62wM";
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script><iframe name="google_conversion_frame" title="Google conversion frame" width="300" height="13" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/998156727/?random=1390228320356&amp;cv=7&amp;fst=1390228320356&amp;num=1&amp;fmt=1&amp;label=TKsYCPn3gwQQt9P62wM&amp;guid=ON&amp;u_h=900&amp;u_w=1440&amp;u_ah=798&amp;u_aw=1440&amp;u_cd=24&amp;u_his=4&amp;u_tz=330&amp;u_java=true&amp;u_nplug=9&amp;u_nmime=52&amp;frm=0&amp;url=http%3A//www.dealdey.com/users/sign_in" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no">&lt;img height="1" width="1" border="0" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/998156727/?frame=0&amp;random=1390228320356&amp;cv=7&amp;fst=1390228320356&amp;num=1&amp;fmt=1&amp;label=TKsYCPn3gwQQt9P62wM&amp;guid=ON&amp;u_h=900&amp;u_w=1440&amp;u_ah=798&amp;u_aw=1440&amp;u_cd=24&amp;u_his=4&amp;u_tz=330&amp;u_java=true&amp;u_nplug=9&amp;u_nmime=52&amp;frm=0&amp;url=http%3A//www.dealdey.com/users/sign_in" /&gt;</iframe>
  <noscript>
  &lt;div style="display:inline;"&gt;
  &lt;img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/998156727/?value=0&amp;amp;label=TKsYCPn3gwQQt9P62wM&amp;amp;guid=ON&amp;amp;script=0"/&gt;
  &lt;/div&gt;
  </noscript>
    
<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"pLL9i1acVE00M4", domain:"dealdey.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript>&lt;img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=pLL9i1acVE00M4" style="display:none" height="1" width="1" alt="" /&gt;</noscript>
<!-- End Alexa Certify Javascript -->
    <!-- nuweb1.dealdey.com -->
    
      <script type="text/javascript">    
  adroll_adv_id = "L6HHXYQDBNGY3GPGSSUYHV";
  adroll_pix_id = "V24ERIIASVGTLONMI37GFV";      
  
  (function () {
  var oldonload = window.onload;
  window.onload = function(){
     __adroll_loaded=true;
     var scr = document.createElement("script");
     var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
     scr.setAttribute('async', 'true');
     scr.type = "text/javascript";
     scr.src = host + "/j/roundtrip.js";
     ((document.getElementsByTagName('head') || [null])[0] ||
      document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
     if(oldonload){oldonload()}};
  }());
</script>
  

<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable invite-popup hideTitle" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-invite_friend" style="display: none; z-index: 1000; outline: 0px; top: 286px; left: 478px; height: auto; width: auto;"><div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"><span class="ui-dialog-title" id="ui-dialog-title-invite_friend">&nbsp;</span><a href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span class="ui-icon ui-icon-closethick">close</span></a></div><div id="invite_friend" style="width: auto; min-height: 125px; height: auto;" class="ui-dialog-content ui-widget-content"><div class="inviteFrnd">
  <div class="notloggedin">
    <p class="desc">Get ₦1,000 when someone you invite buys their first deal. There is no limit to how much you can earn. Just share your unique link so we know you were the one that invited your friend.</p>
    <p class="last"><a href="#" onclick="show_signup_popup(); return false;">Sign Up</a> or <a href="#" onclick="show_signin_popup(); return false;">Sign In</a> to get your personal invitation link</p>
    </div>
</div></div></div><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1000; top: 0px; left: 0px; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1000; top: 0px; left: 0px; display: none;"></ul><script src="http://secure.livechatinc.com/licence/1080147/script_data.js?groups=0&amp;t=1390228320420&amp;referrer=&amp;url=http%3A%2F%2Fwww.dealdey.com%2Fusers%2Fsign_in&amp;params=&amp;jsonp=__lc_data_691384"></script><script src="http://secure.livechatinc.com/licence/1080147/localization.en.0.9e01d72e3e63bda50b46b2885fa99815.js?jsonp=__lc_lang"></script><div id="lc_invite_layer" style="text-align: left; display: none; z-index: 16777261;"></div><div id="lc_overlay_layer" style="background-color: rgb(0, 0, 0); position: fixed; left: 0px; top: 0px; z-index: 16777260; display: none; width: 100%; height: 100%;"></div><script type="text/javascript" src="http://js-agent.newrelic.com/nr-100.js"></script><script language="javascript" type="text/javascript" src="http://static.chartbeat.com/js/chartbeat.js"></script><script type="text/javascript" src="http://beacon-6.newrelic.com/1/ca6c52300e?a=2145332&amp;be=389&amp;qt=0&amp;ap=67&amp;dc=572&amp;fe=1902&amp;to=Jl9dERBaX19TQRZDUxZDWgoMRhxdU0Q%3D&amp;v=42&amp;jsonp=NREUM.setToken&amp;perf=%7B%22timing%22%3A%7B%22of%22%3A1390228319379%2C%20%22n%22%3A0%2C%20%22u%22%3A361%2C%20%22ue%22%3A363%2C%20%22dl%22%3A375%2C%20%22di%22%3A980%2C%20%22ds%22%3A980%2C%20%22de%22%3A1026%2C%20%22dc%22%3A2289%2C%20%22l%22%3A2289%2C%20%22le%22%3A2320%2C%20%22f%22%3A0%2C%20%22dn%22%3A0%2C%20%22dne%22%3A0%2C%20%22c%22%3A0%2C%20%22ce%22%3A0%2C%20%22rq%22%3A2%2C%20%22rp%22%3A358%2C%20%22rpe%22%3A903%7D%2C%20%22navigation%22%3A%7B%7D%7D"></script></body>