<div class="nopagecontainer">
    <h1 class="hey">The page you were looking for doesn't exist.</h1>
    <h2>You may have mistyped the address or the page may have moved.</h2>
</div>
<h3>
  <div class="img_area1">happy</div>
</h3>
<h3>
  <div class="img_area2">hasppasa</div>
</h3>
<h3>
  <div class="img_area3">nice</div>
</h3>
<h3>
  <div class="img_area4">what a deal</div>
</h3>
<h3>
  <div class="img_area5">pg</div>
</h3>  